@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}


.body {
  /* position: absolute; */
  width: 550px;
  height: 853px;
  top: -427px;
  left: -275px;
  border-radius: 8.949999809265137px;
 
  background: #FFFFFF;
}

.rectangle13 {
  width: 550px;
  height: 70px;
  
  background: #FFFFFF;

  box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001A;
  border-radius: 8.949999809265137px 8.949999809265137px 0px 0px;
}

.rectangle13 img {
  position: absolute;
  width: 82.02044677734375px;
  height: 25.351774215698242px;
  top: 22px;
  left: 30px;
  padding: 0px 0.011740677058696747px 0px 0.012291915714740753px;
}

.all-img {
  position: relative;
  width: 395.906494140625px;
  height: 232px;
  margin-top: 30px;
  /* top: 96px; */
  left: 77px;
  border-radius: 8.949999809265137px;
}

.title {
  /* position: absolute; */
  position: relative;
  width: 355px;
  height: 40px;
  margin-top: 30px;
  /* top: 360px; */
  left: 36px;
  

  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 39.6px;
  letter-spacing: 0em;
  text-align: left;

  color: #000000;
}

.content {
  /* position: absolute; */
  position: relative;
  width: 320px;
  height: 56px;
  margin-top: 30px;
  /* top: 416px;*/
  left: 36px;
  
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 17.6px;
  letter-spacing: 0em;
  text-align: left;

  color: #222222;
}

.wrapper {
  /* position: absolute; */
  position: relative;
  margin-top: 30px;
  width: 550px;
  /* top: 0px; */
  left: 37px;
  
  display: flex;
  /* align-items: center; */
}


#None {
  display: none;
}

.lower {
  /* position: absolute; */
  /* position: relative;
  top: 0px; */
  /* left: 100px; */
  width: 176px;
  height: 235px;
  margin-right: 20px;
}