.lower {
  margin-left: 10px;
}

.big-image {
    position: absolute;
    width: 176px;
    height: 235px;
    top: 521px;
    left: 37px;
    border-radius: 9px;
  }
  
  .tag {
    position: absolute;
    width: 61px;
    height: 20px;
    top: 527px;
    /* left: 43px; */
    border-radius: 2px;
  
    background: #FFFFFF;
  
    font-family: Poppins;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 11.26px;
    text-align: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rect {
    width: 49px;
    height: 11px;
  }
  
  .block {
    position: absolute;
    width: 176px;
    height: 58px;
    top: 765px;
    /* left: 36px; */
  
    display: flex;
    flex-direction: column;
  }
  
  .block > * {
    margin-bottom: 10px;
  }
  
  .info {
    font-family: Poppins;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  
    color: #918E9B;
  
    display: flex;
    align-items: center;
  }
  
  .info > * {
    margin-right: 4px;
  }
  
  .star {
    /* position: absolute; */
    width: 14px;
    height: 14px;
    /* top: 0px;
    left: 0px; */
  }
  
  .rating {
    /* position: absolute; */
    width: 18px;
    height: 14px;
    /* margin-left: 16px; */
  
    color: #222222;
  }
  
  .count-rating {
    /* position: absolute; */
    width: 18px;
    height: 14px;
    /* margin-left: 20px; */
  
    color: #918E9B;
  }
  
  .ellipse {
    /* position: absolute; */
    width: 2px;
    height: 2px;
    top: 6px;
    /* margin-left: 20px; */
    
    color: #918E9B;
  }
  
  .country {
    /* position: absolute; */
    width: 23px;
    height: 14px;
    /* margin-left: 4px; */
  
    color: #918E9B;
  }
  
  .title1 {
    /* position: absolute; */
    width: 180px;
    height: 14px;
    /* top: 787px;
    left: 37px; */
  
    font-family: Poppins;
    font-weight: 300px;
    font-size: 12px;
    line-height: 13.2px;
  
    color: #222222;
  }
  
  .price {
    /* position: absolute; */
    width: 144px;
    height: 12px;
    /* top: 809px;
    left: 36px; */
  
    font-family: Poppins;
    font-weight: 300;
    font-size: 12px;
    line-height: 13.2px;
  
    color: #222222;
  }
  
  .price .bold {
    font-weight: 600;
  }